<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%=csrfToken%>">
    <title>To-Do Manager</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");

        function updateTodo(id){
            fetch(`/todos/${id}`,{
                method:"put",
                headers:{"Content-Type": "application/json"},
                body: JSON.stringify({
                    "_csrf": token
                }) 
            })
            .then((res)=>{
                if(res.ok){
                    window.location.reload();
                }
            })
            .catch((err)=>{
                console.log(err)
            })
        }
        function deleteTodo(id){
            fetch(`/todos/${id}`,{
                method:"delete",
                headers:{"Content-Type": "application/json"},
                body: JSON.stringify({
                    "_csrf": token
                }) 
            })
            .then((res)=>{
                if(res.ok){
                    window.location.reload();
                }
            })
            .catch((err)=>{
                console.log(err)
            })
        }
    </script>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include("header.ejs") %>
            <a href="/signout">Signout</a>
            <!-- flash message when wrong-->
            <div class="text-red-600 pt-2 text-xs">
                <% if (messages.error && messages.error.length > 0) { %>
                    <ul>
                        <% messages.error.forEach((message)=> { %>
                        <li><%= message %></li>
                        <% }); %>
                    </ul>
                <% } %>
            </div>
            <form action="/todos" method="post">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                <div class="flex gap-2 py-4">
                    <div class="flex-auto">
                        <input type="text" name="title" id="" placeholder="What's new?" 
                        class="border border-grey-300 rounded text-grey text-sm p-2">
                    </div>
                    <div class="flex-auto">
                        <input type="date" name="dueDate" id="" 
                        class="border border-grey-300 rounded text-grey text-sm p-2 leading-4">
                    </div>
                    <div class="flex-none">
                        <button type="submit"
                        class="bg-green-600 px-5 py-1.5 text-white rounded font-medium mr-2 mb-2">Add</button>
                    </div>
                </div>
            </form>
            <div>
                <!-- overdues -->
                <%var todos=overDue %>
                <%-include("todo.ejs",{todos:todos,countType:"count-overdue",title:"Overdue"}) %>


                <!-- due today -->
                <%var todos=dueToday %>
                <%-include("todo.ejs",{todos:todos,countType:"count-due-today",title:"Due Today"}) %>


                <!-- due later -->
                <%var todos=dueLater %>
                <%-include("todo.ejs",{todos:todos,countType:"count-due-later",title:"Due Later"}) %>


                <!-- Completed Items -->
                <%var todos=completedItems %>
                <%-include("todo.ejs",{todos:todos,countType:"count-completed",title:"Completed Items"}) %>
            </div>
        </div>
    </div>
    
    
    <%- include("footer.ejs") %>
    
</body>
</html>